<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youth_rd.demo.dao.CommentMapper" >
    <resultMap id="UserResultMap" type="com.youth_rd.demo.domain.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="isBan" property="isBan" jdbcType="INTEGER" />
        <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="BaseResultMap" type="com.youth_rd.demo.domain.Comment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="news_id" property="newsId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="reply_id" property="replyId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <association property="user" javaType="com.youth_rd.demo.domain.User" column="send_user_id" select="selectUserBySendId">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="email" property="email" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="sex" property="sex" jdbcType="INTEGER" />
            <result column="image" property="image" jdbcType="VARCHAR" />
            <result column="isBan" property="isBan" jdbcType="INTEGER" />
            <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
        </association>
        <association property="replyUser" javaType="com.youth_rd.demo.domain.User" column="reply_user_id" select="selectUserByReplyId">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="email" property="email" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="sex" property="sex" jdbcType="INTEGER" />
            <result column="image" property="image" jdbcType="VARCHAR" />
            <result column="isBan" property="isBan" jdbcType="INTEGER" />
            <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <select id="selectUserBySendId" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE id = #{send_user_id,jdbcType=INTEGER}
    </select>
    <select id="selectUserByReplyId" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE id = #{reply_user_id,jdbcType=INTEGER}
    </select>
    <select id="selectByNewsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT c.id,c.reply_id,c.news_id,c.time,c.content,c.user_id AS send_user_id,(SELECT c1.user_id FROM comment c1 WHERE c1.id = c.reply_id) AS reply_user_id
        FROM comment c
        WHERE c.news_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT *
        FROM comment
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.youth_rd.demo.domain.Comment">
        INSERT INTO comment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="newsId != null" >
                news_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="replyId != null" >
                reply_id,
            </if>
            <if test="time != null" >
                time,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="newsId != null" >
                #{newsId,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="replyId != null" >
                #{replyId,jdbcType=INTEGER},
            </if>
            <if test="time != null" >
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>