<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youth_rd.demo.dao.FollowMapper" >
    <resultMap id="BaseResultMap" type="com.youth_rd.demo.domain.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="pwd" property="password" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="isBan" property="isBan" jdbcType="INTEGER" />
        <result column="isMutual" property="isMutual" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectFollowsById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT u.*,(SELECT COUNT(f1.id) FROM follow f1 WHERE u.id = f1.focus_id AND #{id,jdbcType=INTEGER} = f1.focused_id) AS isMutual
        FROM user u
        LEFT JOIN follow f on u.id = f.focused_id
        WHERE f.focus_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectFansById" resultMap="BaseResultMap">
        SELECT u.*,(SELECT COUNT(f1.id) FROM follow f1 WHERE u.id = f1.focused_id AND #{id,jdbcType=INTEGER} = f1.focus_id) AS isMutual
        FROM user u
        LEFT JOIN follow f on u.id = f.focus_id
        WHERE f.focused_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByFollowsId" resultMap="BaseResultMap">
        SELECT *
        FROM user u
        LEFT JOIN follow f on u.id = f.focused_id
        WHERE f.focus_id = #{userId,jdbcType=INTEGER} AND f.focused_id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert">
        INSERT INTO follow (focus_id,focused_id)
        VALUES (#{followId,jdbcType=INTEGER},#{followedId,jdbcType=INTEGER})
    </insert>
    <delete id="delete">
        DELETE FROM follow
        WHERE focus_id = #{followId,jdbcType=INTEGER} AND focused_id = #{followedId,jdbcType=INTEGER}
    </delete>
</mapper>