<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youth_rd.demo.dao.NewsMapper" >
    <resultMap id="BaseResultMap" type="com.youth_rd.demo.domain.News" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="class_id" property="classId" jdbcType="INTEGER" />
        <result column="author_id" property="authorId" jdbcType="INTEGER" />
        <result column="audit_id" property="auditId" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="topImg" property="topImg" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
        <result column="tag" property="tag" jdbcType="INTEGER" />
        <result column="auditContent" property="auditContent" jdbcType="VARCHAR" />
        <result column="browse" property="browse" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="INTEGER"/>
        <association property="author" javaType="com.youth_rd.demo.domain.User" column="author_id">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="email" property="email" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="sex" property="sex" jdbcType="INTEGER" />
            <result column="image" property="image" jdbcType="VARCHAR" />
            <result column="isBan" property="isBan" jdbcType="INTEGER" />
            <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
        </association>
        <association property="aClass" javaType="com.youth_rd.demo.domain.Class" column="class_id">
            <id column="class_id" property="id" jdbcType="INTEGER"/>
            <result column="plate_id" property="plateId" jdbcType="INTEGER"/>
            <result column="class_name" property="name" jdbcType="VARCHAR"/>
            <result column="class_isDelete" property="isDelete" jdbcType="INTEGER"/>
        </association>
        <association property="plate" javaType="com.youth_rd.demo.domain.Plate" >
            <id column="plate_id" property="id" jdbcType="INTEGER"/>
            <result column="plate_name" property="name" jdbcType="VARCHAR"/>
            <result column="plate_isDelete" property="isDelete" jdbcType="INTEGER"/>
        </association>
    </resultMap>
    <insert id="insert" parameterType="com.youth_rd.demo.domain.News">
        INSERT INTO news
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="classId != null" >
                class_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="image != null" >
                image,
            </if>
            <if test="topImg != null" >
                topImg,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="time != null" >
                time,
            </if>
            <if test="isDelete != null" >
                isDelete,
            </if>
            <if test="tag != null" >
                tag,
            </if>
            <if test="auditContent != null" >
                auditContent,
            </if>
            <if test="authorId != null" >
                author_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="classId != null" >
                #{classId,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="image != null" >
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="topImg != null" >
                #{topImg,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="time != null" >
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null" >
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="tag != null" >
                #{tag,jdbcType=INTEGER},
            </if>
            <if test="auditContent != null" >
                #{auditContent,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null" >
                #{authorId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT n.*,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE n.id = #{id,jdbcType=INTEGER} AND tag > 0
    </select>
    <select id="selectReturnContentById" resultMap="BaseResultMap">
        SELECT n.id,n.author_id,n.title,n.image,n.time,u.id,n.content,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE n.id = #{newsId,jdbcType=INTEGER} AND tag = -1 AND n.author_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectAllByIPCTTU" resultMap="BaseResultMap">
        SELECT n.*,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE
        <if test="id!=null">n.id = #{id,jdbcType=INTEGER}</if>
        <if test="plateId!=null"><if test="id!=null">AND </if>p.id = #{plateId,jdbcType=INTEGER}</if>
        <if test="classId!=null"><if test="id!=null or plate!=null">AND </if>c.id = #{classId,jdbcType=INTEGER}</if>
        <if test="tag!=null"><if test="id!=null or plateId!=null or classId!=null">AND </if>n.tag = #{tag,jdbcType=INTEGER}</if>
        <if test="title!=null"><if test="id!=null or plateId!=null or classId!=null or tag!=null">AND </if>n.title LIKE '%${title}%'</if>
        <if test="userId!=null"><if test="id!=null or plateId!=null or classId!=null or tag!=null or userId!=null">AND </if>n.author_id = #{userId,jdbcType=INTEGER}</if>
    </select>
    <select id="selectPassByUserId" resultMap="BaseResultMap">
        SELECT n.*,(SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        WHERE n.author_id = #{id,jdbcType=INTEGER} AND n.tag > 0
    </select>
    <select id="selectAuditByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE author_id = #{id,jdbcType=INTEGER} AND tag = 0
    </select>
    <select id="selectReturnByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE author_id = #{id,jdbcType=INTEGER} AND tag = -1
    </select>
    <select id="selectByFansId" resultMap="BaseResultMap">
        SELECT n.id,n.author_id,n.title,n.image,n.time,u.name
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        WHERE n.author_id in (SELECT focused_id FROM follow WHERE focus_id = #{id,jdbcType=INTEGER})
    </select>
    <select id="selectByTop" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE tag > 1
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT n.id,n.author_id,n.title,n.image,n.time,u.id,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE n.tag = 1
        ORDER BY n.time
    </select>
    <select id="selectByPlateId" resultMap="BaseResultMap">
        SELECT n.id,n.author_id,n.title,n.image,n.time,u.id,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE n.tag = 1 AND n.class_id in (SELECT class_id FROM plate WHERE id = #{id,jdbcType=INTEGER})
        ORDER BY n.time
    </select>
    <select id="selectByClassId" resultMap="BaseResultMap">
        SELECT n.id,n.author_id,n.title,n.image,n.time,u.id,u.name,c.id AS class_id,c.name AS class_name,p.id AS plate_id,p.name AS plate_name,
        (SELECT COUNT(id) FROM history h WHERE h.news_id = n.id) AS browse,
        (SELECT COUNT(id) FROM comment co WHERE co.news_id = n.id) AS comments
        FROM news n
        LEFT JOIN user u ON u.id = n.author_id
        LEFT JOIN class c ON c.id = n.class_id
        LEFT JOIN plate p ON p.id = c.plate_id
        WHERE n.tag = 1 AND n.class_id = #{id,jdbcType=INTEGER}
        ORDER BY n.time
    </select>
    <select id="selectByDayBrowse" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id) FROM history h
        WHERE h.news_id = n.id AND time >=(NOW() - interval 24 hour)) AS browse
        FROM news n
        WHERE n.tag>0
        ORDER By browse DESC
    </select>
    <select id="selectByDayComments" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id)
        FROM comment co
        WHERE co.news_id = n.id AND time >=(NOW() - interval 24 hour)) AS comments
        FROM news n
        WHERE n.tag>0
        ORDER By comments DESC
    </select>
    <select id="selectByWeekBrowse" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id) FROM history h
        WHERE h.news_id = n.id AND time >=(NOW() - interval 7 day)) AS browse
        FROM news n
        WHERE n.tag>0
        ORDER By browse DESC
    </select>
    <select id="selectByWeekComments" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id)
        FROM comment co
        WHERE co.news_id = n.id AND time >=(NOW() - interval 7 day)) AS comments
        FROM news n
        WHERE n.tag>0
        ORDER By comments DESC
    </select>
    <select id="selectByMonthBrows" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id) FROM history h
        WHERE h.news_id = n.id AND time >=(NOW() - interval 1 month)) AS browse
        FROM news n
        WHERE n.tag>0
        ORDER By browse DESC
    </select>
    <select id="selectByMonthComments" resultMap="BaseResultMap">
        SELECT n.id,n.title,
        (SELECT COUNT(id)
        FROM comment co
        WHERE co.news_id = n.id AND time >=(NOW() - interval 1 month)) AS comments
        FROM news n
        WHERE n.tag>0
        ORDER By comments DESC
    </select>
    <select id="selectAllAuditList" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE tag = 0
    </select>
    <select id="selectByIdTitle" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE <if test="id!=null">id = #{id,jdbcType=INTEGER}</if><if test="title!=null"> OR LIKE title = '%${title,jdbcType=VARCHAR}%'</if>
    </select>

    <update id="updateTagById">
        UPDATE news SET tag = #{tag,jdbcType=INTEGER},auditContent = #{content,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectTopSum">
        SELECT COUNT(id) FROM news
        WHERE tag > 1
    </select>

    <select id="selectTopLine" resultMap="BaseResultMap">
        SELECT *
        FROM news
        WHERE tag > 1
    </select>
    <update id="updateTopLine">
        UPDATE news SET topImg = #{topImg,jdbcType=VARCHAR},tag = #{queue,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateIsDelete">
        UPDATE news SET idDelete = #{op,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateAllById" parameterType="com.youth_rd.demo.domain.News">
        UPDATE news SET
        <if test="classId != null" >
            class_id = #{classId,jdbcType=INTEGER}
        </if>
        <if test="title != null" >
            ,title=#{title,jdbcType=VARCHAR}
        </if>
        <if test="image != null" >
            ,image=#{image,jdbcType=VARCHAR}
        </if>
        <if test="topImg != null" >
            ,topImg=#{topImg,jdbcType=VARCHAR}
        </if>
        <if test="content != null" >
            ,content=#{content,jdbcType=VARCHAR}
        </if>
        <if test="time != null" >
            ,time=#{time,jdbcType=TIMESTAMP}
        </if>
        <if test="isDelete != null" >
            ,isDelete=#{isDelete,jdbcType=INTEGER}
        </if>
        <if test="tag != null" >
            ,tag=#{tag,jdbcType=INTEGER}
        </if>
        <if test="auditContent != null" >
            ,auditContent=#{auditContent,jdbcType=VARCHAR}
        </if>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>