<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youth_rd.demo.dao.PlateMapper" >
    <resultMap id="BaseResultMap" type="com.youth_rd.demo.domain.Plate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
        <collection property="classes" column="plate_id" javaType="ArrayList">
            <result property="id" column="id"/>
            <result property="plate_id" column="plateId"/>
            <result property="name" column="name"/>
            <result property="isDelete" column="isDelete"/>
        </collection>
    </resultMap>
    <select id="selectIsNotDelete" resultMap="BaseResultMap" >
        SELECT
        *
        FROM plate p,class c
        WHERE p.isDelete = 0
    </select>
    <select id="selectAll">
        SELECT
        *
        FROM plate p,class c
    </select>
    <insert id="insert">
        INSERT INTO plate (name,isDelete)
        VALUES (#{name,jdbcType=VARCHAR},0)
    </insert>
    <update id="updateIsDeleteById">
        UPDATE plate SET isDelete = #{isDelete,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>